body {
  background: #ffffff;
  font-family: Inter;
}

.content {
  text-align: left;
  margin-top: 15vh;
  width: 85vw;
}

.footer {
  color: #000000;
  margin-top: 55px;
}

.footer i {
  margin-right: 15px;
}

.footer a.logo {
  text-decoration: none;
  color: inherit;
}

p.name {
  margin-left: -2px;
  margin-bottom: 20px;
  color: #000000;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

p.degree {
  color: #000000;
  font-size: 0.7em;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}

p.school {
  color: #000000;
  font-size: 0.7em;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

.content {
  width: 70vw;
}

p.name {
  font-size: 52px;
}

p.degree {
  color: #000000;
  font-size: 20px;
  letter-spacing: 1px;
}

p.school {
  font-size: 14px;
}

p.schooldates {
  margin-top: -16px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p.heading {
  margin-top: 30px;
  margin-bottom: -5px;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

p.date {
  margin-top: 0px;
  margin-bottom: -5px;
  color: #000000;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.github {
  width: 48px;
  margin-right: 15px;
}

.medium {
  width: 45px;
  margin-right: 17px;
}

.linkedin {
  width: 50px;
}
